<nav>
  <ul>
    <li><a href="#inicio">Inicio</a></li>
    <li><a href="#menu">Menú</a></li>
    <li><a href="#sobre-nosotros">Sobre Nosotros</a></li>
    <li><a href="#contacto">Contacto</a></li>
  </ul>
</nav>