/* CSS No Crítico */
.menu-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.menu-item {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-item img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}
@media (max-width: 1200px) {
  .menu-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 992px) {
  .menu-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  .menu-grid {
    grid-template-columns: 1fr;
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 5px;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Estilos para el enlace del modal */
#derechos-autor {
  color: #3498db;
  text-decoration: none;
}
#derechos-autor:hover {
  color: #2980b9;
  text-decoration: underline;
}
/* Estilos previos aquí */
@keyframes typetura {
  0% {
    --font-size: 16px;
  }
  100% {
    --font-size: 20px; /* Ajusta según tus necesidades */
  }
}
.typetura {
  animation: typetura 1s steps(1, end) forwards;
}
.typetura * {
  font-size: var(--font-size);
}
